{% extends "scenes/base.html" %}
{% load static %}

{% block content %}
<script type="module">
    const rotationOffset = 0 / 180 * Math.PI;
    let scene, camera, renderer;
    let controls;
    let imageUrl = "./images/puydesancy.jpg";
    let sphere;
    let clickTargets = [];
    let forwardButtonGroup = new THREE.Group();
    let sceneId;
    let relatedSceneId = [], relatedSceneTheta = [];

    class ForwardButton extends THREE.Mesh {
        constructor() {
            const geometry = new THREE.CircleGeometry( 3, 32 );
            const material = new THREE.MeshBasicMaterial({
                map: new THREE.TextureLoader().load( "{% static 'scenes/images/forward.png' %}" )
            });
            super(geometry, material);
        }
    }


    window.addEventListener("load", function() {
        checkDevice();
        init();
    });

    window.addEventListener("resize", function() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize( window.innerWidth, window.innerHeight );
    }, false);

    window.addEventListener("click", function(e) {
        if (e.target == renderer.domElement) {
            let raycaster = new THREE.Raycaster();
            let mouse = new THREE.Vector2();

            mouse.x = ( e.clientX / window.innerWidth ) * 2 - 1;
            mouse.y = - ( e.clientY / window.innerHeight ) * 2 + 1;

            raycaster.setFromCamera( mouse, camera );

            const obj = raycaster.intersectObjects( clickTargets );
            
            if ( obj.length > 0 ){
                sceneId = parseInt(obj[0].object.name);
                ajaxTransition();
            }
        }
    });

    function ajaxTransition() {
        let req = new XMLHttpRequest();
        req.open( "GET", "{% url 'scenes:ajax_transition' %}" + "?id=" + sceneId.toString() );
        req.send();

        req.onreadystatechange = function() {
            if (req.readyState == 4 && req.status == 200) {
                imageUrl = JSON.parse(req.responseText).scene_image_url;
                relatedSceneId = JSON.parse(req.responseText).relatedscene_id;
                relatedSceneTheta = JSON.parse(req.responseText).relatedscene_theta;

                initWorld();
            }
        }
    }


    function checkDevice(){
        if ("xr" in navigator) {
            navigator.xr.isSessionSupported("immersive-vr").then(function(supported) {
                if(supported) {
                    renderer.xr.enabled = true;
                } else {
                    setController();
                }
            })
        } else {
            setController();
        }
    }

    function setController() {
        document.addEventListener("touchmove", function(e) { e.preventDefault(); }, { passive:false });
        controls = new THREE.OrbitControls( camera, renderer.domElement );
        controls.target.set( 0, 0, 0 );
        controls.enableDamping = true;
        controls.dampingFactor = 0.5;
        controls.enableZoom = false;
    }

    function init() {
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera( 60, window.innerWidth / window.innerHeight, 0.1, 1000 );
        camera.position.set(
            - Math.cos( rotationOffset ),
            0,
            - Math.sin( rotationOffset )
        );
        scene.add( camera );

        renderer = new THREE.WebGLRenderer();
        renderer.setSize( window.innerWidth, window.innerHeight );
        renderer.xr.enabled = true;
        
        document.body.appendChild( renderer.domElement );

        sceneId = 1;
        ajaxTransition();
    }

    function initWorld() {
        while(forwardButtonGroup.children.length > 0){ 
            forwardButtonGroup.remove( forwardButtonGroup.children[0] );
        }
        while(scene.children.length > 0){ 
            scene.remove( scene.children[0] );
        }

        const geometry = new THREE.SphereGeometry( 100, 100, 100 );
        geometry.scale( -1, 1, 1 );

        const texture = new THREE.TextureLoader().load( imageUrl );
        const material = new THREE.MeshBasicMaterial({
            map: texture
        });

        sphere = new THREE.Mesh( geometry, material );
        scene.add( sphere );

        initObjects();
    }

    function initObjects() {
        for (let i = 0; i < relatedSceneId.length; i++) {
            const mesh = new ForwardButton();

            const radian = relatedSceneTheta[i] / 180 * Math.PI + rotationOffset;
            mesh.position.set(
                15 * Math.cos( radian ),
                -5,
                15 * Math.sin( radian )
            );
            mesh.rotation.set(
                Math.PI / 2,
                Math.PI,
                Math.PI / 2 - radian
            );

            mesh.name = relatedSceneId[i].toString();
            clickTargets.push( mesh );

            forwardButtonGroup.add(mesh);
        }

        scene.add( forwardButtonGroup );

        animate();
    }
    
    function animate() {
        if(controls){
            controls.update();
        }
        
        renderer.render( scene, camera );
        requestAnimationFrame( animate );
    };
</script>
{% endblock %}
